# History files
.Rhistory
.Rapp.history

# Session Data
.RData
.RProj.user

# Pdfs and docs
*.pdf
*.doc

# Apple
.DS_Store

# Large folders
tenSubjects/
NNet_Scripts/my-model
Thesis_Docs/Images

# Unnecessary tex stuff
*.aux
*.bbl
*.blg
*.log
*.lot
*.toc
*.tks
*.eps
*.gz
*.log
*.cls
*.xml
