# History files
.Rhistory
.Rapp.history

# Session Data
.RData
.RProj.user

# Large file types
*.pdf
*.doc
*.nii
*.img
*.hdf
*.xlsx

# Apple
.DS_Store

# Large folders
tenSubjects/
NNet_Scripts/my-model
NNet_Scripts/ex

# Ignore texmaker compile files
*.aux
*.bbl
*.blg
*.eps
*.gz
*.lof
*.log
*.lot
*.toc
*.xml

